name: Deploy Cloud Function

on:
  push:
    branches:
      - master
    paths:
      - 'functions/hello-world/**'
      - '.github/workflows/cloud-function-deploy.yml'

permissions:
  contents: read
  id-token: write

env:
  PROJECT_ID: calm-cab-458210-t2
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/857835268341/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider
          service_account: github-actions-deployer-new@calm-cab-458210-t2.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy Function
        run: |
          cd functions/hello-world
          gcloud functions deploy hello-world \
            --gen2 \
            --runtime=go121 \
            --region=${{ env.REGION }} \
            --source=. \
            --entry-point=HelloWorld \
            --trigger-http \
            --allow-unauthenticated
