name: Deploy Cloud Function

on:
  push:
    branches:
      - master
    paths:
      - 'functions/hello-world/**'
      - '.github/workflows/cloud-function-deploy.yml'

permissions:
  contents: read
  id-token: write

env:
  PROJECT_ID: calm-cab-458210-t2
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/857835268341/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider
          service_account: github-actions-deployer-new@calm-cab-458210-t2.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy Cloud Function 1
        run: |
           gcloud functions deploy hello-world \
            --project ${{ env.PROJECT_ID }} \
            --region ${{ env.REGION }} \
            --runtime go122 \
            --entry-point HelloWorld \
            --trigger-http \
            --allow-unauthenticated \
            --memory 128MB \
            --timeout 60s \
            --min-instances 0 \
            --max-instances 2
             --service-account github-actions-deployer-new@calm-cab-458210-t2.iam.gserviceaccount.com