name: Deploy Cloud Function

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy to Google Cloud
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write' # Required for Workload Identity Federation

    env:
      PROJECT_ID: calm-cab-458210-t2
      REGION: us-central1
      SERVICE_ACCOUNT: cloud-functions-deployer@calm-cab-458210-t2.iam.gserviceaccount.com
      CLOUD_BUILD_SERVICE_ACCOUNT: projects/calm-cab-458210-t2/serviceAccounts/cloud-build-service-account@calm-cab-458210-t2.iam.gserviceaccount.com

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: 'projects/857835268341/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider'
        service_account: ${{ env.SERVICE_ACCOUNT }}

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2

    - name: Deploy Cloud Function
      run: |
        cd functions/hello-world
        gcloud functions deploy hello-world \
          --runtime=go122 \
          --trigger-http \
          --entry-point=HelloWorld \
          --region=${{ env.REGION }} \
          --service-account=${{ env.SERVICE_ACCOUNT }} \
          --allow-unauthenticated \
          --project=${{ env.PROJECT_ID }} \
          --build-service-account=${{ env.CLOUD_BUILD_SERVICE_ACCOUNT }}
            