name: Deploy Cloud Function

on:
  push:
    branches:
      - master
    paths:
      - 'functions/hello-world/**'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/857835268341/locations/global/workloadIdentityPools/github-actions/providers/github-provider'
          service_account: 'github-actions-deployer-calm-c@calm-cab-458210-t2.iam.gserviceaccount.com'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Deploy Cloud Function'
        run: |
          cd functions/hello-world
          gcloud functions deploy hello-world \
            --gen2 \
            --runtime=go121 \
            --region=us-central1 \
            --source=. \
            --entry-point=HelloWorld \
            --trigger-http \
            --allow-unauthenticated 