name: Deploy Cloud Function

on:
  push:
    branches:
      - master
    paths:
      - 'functions/hello-world/**'
      - '.github/workflows/deploy.yml'

permissions:
  contents: read
  id-token: write

env:
  PROJECT_ID: 857835268341
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          create_credentials_file: true
          workload_identity_provider: projects/857835268341/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider
          service_account: cloud-functions-deployer@calm-cab-458210-t2.iam.gserviceaccount.com
          token_format: access_token
          access_token_lifetime: 3600s

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy Cloud Function
        run: |
          cd functions/hello-world
          gcloud functions deploy hello-world \
            --runtime=go122 \
            --region=${{ env.REGION }} \
            --source=. \
            --entry-point=HelloWorld \
            --trigger-http \
            --allow-unauthenticated \
            --quiet \
            --service-account=cloud-functions-deployer@calm-cab-458210-t2.iam.gserviceaccount.com
            