name: Deploy Cloud Function

on:
  push:
    branches:
      - master
    paths:
      - 'functions/hello-world/**'
      - '.github/workflows/deploy.yml'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: 'projects/857835268341/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-actions-deployer-calm-c@calm-cab-458210-t2.iam.gserviceaccount.com'

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy Cloud Function
        run: |
          cd functions/hello-world
          gcloud functions deploy hello-world \
            --gen2 \
            --runtime=go121 \
            --region=us-central1 \
            --source=. \
            --entry-point=HelloWorld \
            --trigger-http \
            --allow-unauthenticated 